[submodule "DuckieTownExercise1"]
	path = DuckieTownExercise1
	url = https://github.com/KarlHanEdn/DuckieTownExercise1.git
[submodule "exercise1/DuckieTownExercise1"]
	path = exercise1/DuckieTownExercise1
	url = https://github.com/KarlHanEdn/DuckieTownExercise1.git
[submodule "exercise3/E3P3Transform"]
	path = exercise3/E3P3Transform
	url = https://github.com/KarlHanEdn/E3P3Transform
[submodule "exercise3/AdvancedARExercise"]
	path = exercise3/AdvancedARExercise
	url = https://github.com/CMPUT412-Exercise2-Leen-Tianming/AdvancedARExercise.git
[submodule "exercise4/E4Tailing"]
	path = exercise4/E4Tailing
	url = https://github.com/CMPUT412-Team-Leen-Tianming/E4Tailing
[submodule "exercise5/lab5"]
	path = exercise5/lab5
	url = https://github.com/Tur4L/cmput412_tur4l
[submodule "exercise5/E5ML"]
	path = exercise5/E5ML
	url = https://github.com/CMPUT412-Friday-Lab-Team/E5ML.git
